__pycache__/
*.py[cod]
.codex
.codex/
.pytest_cache/
.mypy_cache/
.ruff_cache/
build/
dist/
*.egg-info/

config/*.json
!config/example-postgres-password.json
!config/example-postgres-cert.json

secrets/*
!secrets/.gitkeep

pki/*
!pki/.gitkeep

deployments/mqtt-sub/*/config/*.json
!deployments/mqtt-sub/*/config/*.example.json
!deployments/mqtt-sub/*/config/.gitkeep
deployments/mqtt-sub/*/pki/*
!deployments/mqtt-sub/*/pki/.gitkeep
